$popup-bg: var(--primary-bg-color);
$popup-borer-bg: var(--secondary-bg-color);
$popup-text: var(--primary-font-color);
$arrow-button-bg: var(--arrow-button-color);

#popup-container {
    position: fixed;
    inset: 0;
    background-color: #000000AA;
    color: $popup-text;

    display: flex;
    justify-content: center;
    align-items: center;


    visibility: hidden;
    display: none;
    z-index: 999;

    #next-day-btn,
    #prev-day-btn {
        height: max-content;
        max-height: 48px;
        display: grid;
        place-items: center;
        padding: .25rem;
        margin: 1rem;
        border: none;
        background-color: $arrow-button-bg;
        color: #fff;
        border-radius: 50%;
        aspect-ratio: 1 / 1;
        cursor: pointer;
        user-select: none;

        i {
            font-size: 2.5rem;
        }
    }

    #popup {
        background-color: $popup-bg;
        width: clamp(50vw, 500px, 90vw);
        height: max-content;

        .title {
            padding-inline: 1rem;
            border-bottom: 5px solid $popup-borer-bg;
            position: relative;

            h1 {
                margin: 0;
                padding: .5em 0;
                padding-bottom: 0;
            }

            .close-button {
                color: $popup-text;
            }
        }

        #events-list {
            list-style: none;
            margin: 0;
            padding: 0;

            max-height: 60vh;
            overflow-y: auto;

            .event {
                display: flex;
                flex-direction: column;
                padding: 1rem;
                border-bottom: 2px solid $popup-borer-bg;

                &:last-of-type {
                    border: none;
                }

                div {
                    display: flex;
                    justify-content: space-between;

                    p {
                        margin: .5rem;
                    }

                    #label {
                        margin-right: 1rem;
                    }

                    #event-name {
                        margin: .25rem auto;
                    }

                    #rooms-list {
                        text-align: right;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 550px) {
        flex-direction: column;
        #next-day-btn,
        #prev-day-btn {
            position: absolute;
            bottom: 0;
            right: 50%;
            transform: translateX(calc(100% + 8px));
            width: 244px;
            max-width: 43vw;
            border-radius: 5px;
            aspect-ratio: auto;
            margin-inline: 0;
        }
        #prev-day-btn {
            order: 2;
            left: 50%;
            right: auto;
            transform: translateX(calc(-100% - 8px));
        }
    }
}