<div id="facilities-equipment-container">
    <div id="facilities-equipment">
        <div class="equipment-header">
            <p>Facilities Equipment</p>
            <button class="close-button" onclick="facilitiesPopupHide()"><i class="material-icons">close</i></button>
        </div>

        <div class="equipment-items-container"></div>

        <div class="button-container">
            <button class="btn cancel" onclick="facilitiesPopupHide()"><i class='fas fa-ban'></i> Cancel</button>
            <button class="btn" onclick="equipmentHandleSave();"><i class='fas fa-save'></i> Save</button>
        </div>
    </div>
</div>
<script src="../scripts/facilitiesEqipment.js"></script>




