

<nav class="navBar">
    <div class="openButton">
        <i class="material-icons icon">menu</i>
    </div>
    <div class="navContainer closed">
        <div class="closeButton">
            <i class="material-icons icon">close</i>
        </div>
        <!-- <div class="image-container">
            <img class="logo" src="../assets/exampleLogo.png" alt="Company Name">
        </div> -->
        <div class="welcome-message">
            <p id="userWelcomeMsg"></p>
        </div>
        <div class="links">
            <ul>
                <li><a href="/">Calendar</a></li>
                <li id="new-event-btn"><a href="/create">New Event</a></li>
                <li id="loggedOut"><a href="/login">Login</a></li>
                <li id="loggedIn"><a onclick="logout()" href="/">Logout</a></li>
            </ul>
        </div>
        <div class="footer">
            <ul>
                <li><a href="/"><i class='fab fa-facebook-square'></i></a></li>
                <li><a href="/"><i class='fab fa-instagram'></i></a></li>
                <li><a href="https://github.com/jblackman42/event-planner"><i class='fab fa-github-square'></i></a></li>
                <li class='toggle-switch'>
                    <label class="switch" onclick="toggleColorScheme()">
                        <input type="checkbox" id="toggle-color-scheme">
                        <span class="slider round"></span>
                    </label>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script>
    const loggedIn = document.getElementById('loggedIn');
    const loggedOut = document.getElementById('loggedOut');

    const userWelcomeMsg = document.getElementById('userWelcomeMsg');

    const openButtonDOM = document.querySelector('.openButton');
    const closeButtonDOM = document.querySelector('.closeButton');
    const toggleColorSchemeBtn = document.querySelector('#toggle-color-scheme');

    const navContainerDOM = document.querySelector('.navContainer');

    const newEventBtn = document.querySelector('#new-event-btn');

    openButtonDOM.addEventListener('click', () => {
        navContainerDOM.classList.toggle('open');
        navContainerDOM.classList.toggle('closed');
    })

    closeButtonDOM.addEventListener('click', () => {
        navContainerDOM.classList.toggle('open');
        navContainerDOM.classList.toggle('closed');
    })

    

    const welcomeMsg = async () => {
        const user = await getUser()
        
        loggedOut.style.visibility = 'hidden';
        loggedOut.style.display = 'none';

        userWelcomeMsg.innerHTML = `Welcome, ${user.DisplayName.split(', ').reverse().join(' ')}`;
        loggedIn.style.visibility = 'visible';
        loggedIn.style.display = 'flex';
    }
    welcomeMsg();

    axios({
        method: 'get',
        url: '/api/oauth/me/roles',
        params: {
            user_id: user_id,
            token: access_token
        }
    })
        .then(response => response.data)
        .then(data => {
            const eventCreatorRoleId = 2202;
            const {userRoles} = data;
            const userRoleIds = userRoles.map(role => role.Role_ID);
            
            //if logged in user is  authorized to create events
            if (userRoleIds.includes(eventCreatorRoleId)) {
                //add new event from navbar
                newEventBtn.style.display = 'block';
                newEventBtn.style.visibility = 'visible';
            }
        })

    if (localStorage.getItem('colorScheme') == 'dark') {
        toggleColorSchemeBtn.checked = true;
    }

    toggleColorSchemeBtn.addEventListener('change', () => {
        toggleColorScheme();
    })

    function logout() {
        //remove all cookies
        document.cookie = "user_id= ; expires = Thu, 01 Jan 1970 00:00:00 GMT";
        document.cookie = "access_token= ; expires = Thu, 01 Jan 1970 00:00:00 GMT";

        window.location = '/'
    }

    
</script>