<div class="overbook-popup-container">
    <div class="overbook-popup">
        <div class="overbook-header">
            <p id="overbook-popup-title">Room 501 Blocked:</p>
            <button class="close-button" onclick="hideOverbookPopup()"><i class="material-icons">close</i></button>
        </div>
        <div class="overbook-content">
            <p><span>Event Title</span> <span>Dec 31 2022</span></p>
            <p><span>Event Title</span> <span>Dec 31 2022</span></p>
            <p><span>Event Title</span> <span>Dec 31 2022</span></p>
            <p><span>Event Title</span> <span>Dec 31 2022</span></p>
            <p><span>Event Title</span> <span>Dec 31 2022</span></p>
        </div>
    </div>
</div>
<script src="../scripts/overbookPopup.js"></script>