<div id="popup-container">
    <div id="popup">
        <div class="title">
            <h1 id="event-date">August 31 2020</h1>
            <p id="number-of-events">1 Event</p>
        </div>
        
        <ul id="events-list">
        </ul>
    </div>
</div>

<script>
    const popup = async (day, numberOfEvents) => { //day is in short form (Fri Aug 05 2022)
        const popupContainerDOM = document.getElementById('popup-container');
        const eventDateDOM = document.getElementById('event-date');
        const numberOfEventsDOM = document.getElementById('number-of-events');
        const eventsListDOM = document.getElementById('events-list');

        const show = () => {
            popupContainerDOM.style.visibility = 'visible';
            popupContainerDOM.style.display = 'grid';
        }
        const hide = () => {
            popupContainerDOM.style.visibility = 'hidden';
            popupContainerDOM.style.display = 'none';
        }

        console.log('loading');
        loading();
        await getEventsList(day)
            .then((eventsList) => {
                console.log(eventsList)
                eventDateDOM.innerText = day;
                numberOfEventsDOM.innerText = `${numberOfEvents} ${numberOfEvents > 1 ? 'Events' : 'Event'}`;

                const eventsListHTML = eventsList.map(event => {
                    const {Event_Title, Event_Start_Date, Event_End_Date, Meeting_Instructions, Rooms} = event;
                    return `
                        <li class="event">
                            <div>
                                <h4 id="event-name">${Event_Title}</h4>
                            </div>
                            <div>
                                <p id="label">Dates:</p>
                                <p>${Event_Start_Date} - ${Event_End_Date}</p>
                            </div>
                            <div>
                                <p id="label">Rooms:</p>
                                <p>${Rooms.map(room => room.Room_Name).join(', ')}</p>
                            </div>
                        </li>
                    `
                }).join('')
                console.log(eventsListHTML)

                eventsListDOM.innerHTML += eventsListHTML;
            })
            .then(() => {
                show();

                console.log('done loading');
                doneLoading();
            })

        
    }
</script>