<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
<body>
    <%- include('../partials/loading'); %>

    <%- include('../partials/navbar'); %>

    <div class="form-container">
        <p>Event Creator: <span id="event-creator"></span></p>

        <form onsubmit="handleSubmit(event)">
            <div class="input">
                <label for="event-name">Event Name:</label>
                <input type="text" name="event-name" id="event-name">
            </div>
            <div class="input">
                <label for="event-desc">Event Description:</label>
                <textarea name="event-desc" id="event-desc"></textarea>
            </div>
            <div class="input">
                <label for="primary-contact">Primary Contact</label>
                <select name="primary-contact" id="primary-contact"></select>
            </div>
            <div class="input">
                <label for="start-date">Start Date/Time:</label>
                <input type="datetime-local" name="start-date" id="start-date">
            </div>
            <div class="input">
                <label for="end-date">End Date/Time:</label>
                <input type="datetime-local" name="end-date" id="end-date">
            </div>
            <div class="input">
                <label for="event-type">Event Type:</label>
                <select name="event-type" id="event-type"></select>
            </div>
            <div class="input">
                <label for="attendance">Estimated Attendance:</label>
                <input type="number" name="attendance" id="attendance">
            </div>
            <div class="input">
                <label for="congregation">Congregation:</label>
                <select name="congregation" id="congregation"></select>
            </div>
            <div class="input">
                <label for="setup">Setup Time:</label>
                <input type="number" name="setup" id="setup">
            </div>
            <div class="input">
                <label for="cleanup">Cleanup Time:</label>
                <input type="number" name="cleanup" id="cleanup">
            </div>
            <div class="input">
                <label for="privacy">Public Event:</label>
                <input type="checkbox" name="privacy" id="privacy" checked>
            </div>
            <div class="input">
                <label for="event-location">Event Location:</label>
                <select name="event-location" id="event-location"></select>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>

    <%- include('../partials/footer'); %>
</body>
<script src="../scripts/create.js"></script>
</html>