<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>PHC - Print Event</title>
</head>
<body>
    <%- include('../partials/loading'); %>

    <%- include('../partials/navbar'); %>

    <script src="../scripts/featured-events.js"></script>
</body>
</html>