<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>PHC - Health Assesment</title>

    <script src="/scripts/p5.min.js" defer></script>
</head>
<body class="flex-container" style="flex-wrap: wrap;">
    <%- include('../partials/navbar'); %>
    <%- include('../partials/loading'); %>
    
    <div id="chart-list-container">
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/scripts/mpAssesment.js"></script>
    <script src="/scripts/health-assesment.js"></script>
</body>
</html>