<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>PHC - Health Assesment</title>

    <script src="/scripts/health-assesment.js" defer></script>
</head>
<body class="flex-container">
    <%- include('../partials/navbar'); %>
    
    <div id="table-container"></div>

</body>
</html>