<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <div id="calender"></div>

    
</body>
<script src="/scripts/calender.js"></script>
<script>
    const calenderDOM = document.getElementById('calender')

    let calenderHTML = '';
    for (var i=0; i < dates.length; i++) {
        const date = dates[i];
        const weekday = date.toLocaleDateString('en-US', {weekday: 'long'})
        const dateHTML = `
            <h1>${weekday}</h1>
        `
        calenderHTML += dateHTML;
    }

    calenderDOM.innerHTML = calenderHTML;
</script>
</html>