<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <div class="forms-container">
        <form id="loginForm">
            <h1>Sign In</h1>
            <div class="inputs">
                <input type="text" name="username" id="username" autocomplete="on" placeholder="Username" required>
                <input type="password" name="password" id="password" autocomplete="on" placeholder="Password" required>
            </div>
    
            <button type="submit" class="login">Sign In</button>
            
            <p class="form-error"><%- error %></p>
        </form>
    </div>
      
    </body>
<script>
    const urlParams = new URLSearchParams(window.location.search);
    const redirect = urlParams.get('redirect');
    const loginForm = document.getElementById('loginForm');

    const redirectURL = `/${redirect ? redirect : ''}`

    loginForm.addEventListener('submit', (e) => {
        e.preventDefault();

        const usernameValue = document.getElementById('username').value;
        const passwordValue = document.getElementById('password').value;

        axios({
            method: 'post',
            url: 'http://localhost:3000/api/oauth/login',
            data: {
                username: usernameValue,
                password: passwordValue
            },
            headers: {
                'Content-Type': 'application/json',
            }
        })
            .then(response => response.data)
            .then(data => {
                if (data.success) {
                    window.location = redirectURL;
                } else {
                    document.querySelector('.form-error').innerHTML = data.error;
                }
            })
    })
</script>
</html>