<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
<body>
    <%- include('../partials/loading'); %>

    <%- include('../partials/navbar'); %>

    <h1 id="prayer-wall-title">Prayer Wall Manager</h1>
    <div class="prayer-manager-container">
        <div id="prayer">
        </div>
        <div id="manager-controls-container">
            <p id="prayer-index"></p>
            <div id="prayer-btn-container">
                <button id="back" class="btn" onclick="prevPrayer()">Back</button>
                <button id="reject" class="btn" onclick="submit(3)">Reject</button>
                <button id="accept" class="btn" onclick="submit(2)">Accept</button>
                <button id="next" class="btn" onclick="nextPrayer()">Next</button>
            </div>
        </div>
    </div>

    <%- include('../partials/footer'); %>
</body>
<script>
    let prayers = [];
    let prayersToManage = [];
    let currentIndex = 0;
    const getPrayerRequests = async () => {
        prayers = [];
        currentIndex = 0;
        return await axios({
            method: 'get',
            url: 'https://my.pureheart.org/ministryplatformapi/tables/Prayer_Requests',
            headers: {
                'Authorization': `Bearer ${access_token}`
            }
        })
            .then(response => response.data)
            .catch(err => console.error(err))
    }

    const loadPrayerManager = async () => {
        loading();
        prayers = await getPrayerRequests();
        prayersToManage = prayers.filter(prayer => prayer.Prayer_Status_ID == 1)
        console.log(prayers)
        if (!prayers.length) {
            doneLoading();
            return document.querySelector('.prayer-manager-container').innerHTML = '<p>No Prayers Found</p>'
        };
        loadPrayer(currentIndex)
        doneLoading();
    }
    loadPrayerManager();

    const nextPrayer = () => {
        const nextIndex = currentIndex + 1;
        if (nextIndex > prayers.length - 1) return;
        loadPrayer(currentIndex + 1);
    }
    const prevPrayer = () => {
        const prevIndex = currentIndex - 1;
        if (prevIndex < 0) return;
        loadPrayer(currentIndex - 1)
    }

    const submit = async (statusID) => {
        const prayer = prayers[currentIndex];
        prayer.Prayer_Status_ID = statusID;

        prayer.Author_Name = document.querySelector('#Author_Name').value
        prayer.Author_Email = document.querySelector('#Author_Email').value
        prayer.Author_Phone = document.querySelector('#Author_Phone').value || null
        prayer.Prayer_Title = document.querySelector('#Prayer_Title').value || null
        prayer.Prayer_Body = document.querySelector('#Prayer_Body').value
        prayer.Private = document.querySelector('#Private').checked
        prayer.Prayer_Notify = document.querySelector('#Notify').checked

        if (!prayer.Author_Name || !prayer.Author_Email || !prayer.Prayer_Body) return
        await axios({
            method: 'put',
            url: `/api/prayer-wall`,
            data: prayer
        })
        .then(response => response.data)
        .catch(err => console.error(err))

        return await loadPrayerManager();
    }

    const loadPrayer = async (index) => {
        currentIndex = index;
        const {Author_Email, Author_Name, Author_Phone, Date_Created, Prayer_Body, Prayer_Count, Prayer_Notify, Prayer_Title, Private} = prayersToManage[index];
        const currPrayerDOM = document.querySelector('#prayer');

        currPrayerDOM.innerHTML = `
            <div class="input-container required">
                <input type="text" name="Author_Name" id="Author_Name" placeholder="Name" required>
            </div>
            
            <div class="input-container required">
                <input type="email" name="Author_Email" id="Author_Email" placeholder="Email" required>
            </div>

            <div class="input-container">
                <input type="tel" name="Author_Phone" id="Author_Phone" placeholder="Phone Number">
            </div>
            
            <div class="input-container">
                <input type="text" name="Prayer_Title" id="Prayer_Title" placeholder="Prayer Title">
            </div>

            <div class="input-container required">
                <textarea name="Prayer_Body" id="Prayer_Body" placeholder="Prayer Request" maxlength="250" required></textarea>
            </div>

            <div class="checkbox-container">
                <input type="checkbox" name="Private" id="Private">
                <label for="Private">Share Anonymously</label>
            </div>

            <div class="checkbox-container">
                <input type="checkbox" name="Notify" id="Notify">
                <label for="Notify"> Email Me When Someone Prays</label>
            </div>
        `
        const prayerIndexDOM = document.querySelector('#prayer-index');
        prayerIndexDOM.innerText = `${index + 1}/${prayersToManage.length}`;

        document.querySelector('#Author_Name').value = prayersToManage[index].Author_Name
        document.querySelector('#Author_Email').value = prayersToManage[index].Author_Email
        document.querySelector('#Author_Phone').value = prayersToManage[index].Author_Phone
        document.querySelector('#Prayer_Title').value = prayersToManage[index].Prayer_Title
        document.querySelector('#Prayer_Body').value = prayersToManage[index].Prayer_Body
        document.querySelector('#Private').checked = prayersToManage[index].Private
        document.querySelector('#Notify').checked = prayersToManage[index].Prayer_Notify
    }
</script>
</html>