<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>PHC - Print Event</title>
</head>
<body>
    <%- include('../partials/loading'); %>

    <%- include('../partials/navbar'); %>

    <div class="print-section-container">
        <div class="print-section" id="general"></div>

        <div class="print-section" id="rooms"></div>

        <div class="print-section" id="equipment"></div>

        <div class="print-section" id="services"></div>
    </div>

    <script src="../scripts/print.js"></script>
</body>
</html>